.container {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
        circle,
        #2baa78aa 0.75em,
        rgba(255, 255, 255, 0) 0.75em,
        rgba(255, 255, 255, 0) 1.5em,
        #aa2b5daa 1.5em,
        #aa2b5daa 1.8em,
        rgba(255, 255, 255, 0) 1.8em
      )
      0 0,
    radial-gradient(
        circle,
        #2baa78aa 0.75em,
        rgba(255, 255, 255, 0) 0.75em,
        rgba(255, 255, 255, 0) 1.5em,
        #aa2b5daa 1.5em,
        #aa2b5daa 1.8em,
        rgba(255, 255, 255, 0) 1.8em
      )
      3em 3em,
    radial-gradient(circle, #2b9daaaa 0.375em, rgba(255, 255, 255, 0) 0.375em) 3em 0,
    radial-gradient(circle, #2baa38aa 0.3em, rgba(255, 255, 255, 0) 0.3em) 0 3em;
  background-size: 6em 6em;
  background-color: #002939;
  background-repeat: repeat;
}

.container h1 {
  margin-top: 0;
}

.container p {
  flex: auto;
  color: darkslategray;
}

.loginButton {
  max-height: 80px;
  width: 100%;
  padding: 10px 20px;
  margin-top: auto;
}

.loginButton a {
  appearance: none;
  background-color: #000000;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.loginButton a:disabled {
  pointer-events: none;
}

.loginButton a:hover {
  background-color: #002939;
}

.loginButton a:active {
  background-color: #003448;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

/* https://dev.to/dcodeyt/create-a-button-with-a-loading-spinner-in-html-css-1c0h */

.loginButtonLoading a::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}
